# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
/runtime/logs/*
/vendor/*
!/vendor/vendor.json
#CocoaPods
Pods
!Podfile
!Podfile.lock
#mac
.DS_Store
*/.DS_Store
